<nav class="navbar navbar-expand-sm navbar-dark mb-4 p-0 nav-logo" role="navigation">
  <img [src]="logo" alt="" class="logo img-thumbnail">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <div style="margin-left: 32%" class="">
      <ul class="my-auto">
        <a class="navbar-brand" href="#">{{title}}</a>
      </ul>
  </div>
</div>
</nav>
